// Variables
@import "variables";
.navbar{
  margin-bottom: 0px;
}
.big-padding{
  padding:30px;
}
.blue-grey{
  background-color: #263238;
}
.white-text{
  color:white;
}
.table{
  background-color: white;
}
